@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 26 35 50; /* #1a2332 */
  --fg: 249 250 251; /* #f9fafb */
}

html, body, #__next {
  height: 100%;
}

body {
  background-color: rgb(var(--bg));
  color: rgb(var(--fg));
}

.container {
  @apply mx-auto max-w-6xl px-4;
}


